/* Hero section */
.firstsection {
  height: 100vh;
  background: url(background.jpg);
  background-size: cover;
}
.sub-section {
  height: 30vh;
}
/* About section */
.secondsection {
  height: 30vh;
}
/* Skills section */
.thirdsection {
  height: 80vh;
}
/* Portfolio section */
.fourthsection {
  height: 80vh;
}
.card {
  height: 25vh;
}
img
{
    width: 100%;
    height: 25vh;
    object-fit: contain;
}
/* Footer section */
.footersection
{
    height:15vh;
}